.form-modal {
  margin: -1rem;
}
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Defina a cor de fundo com transparência */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .modal-content {

    width: 90%;
    max-width: 500px;
    background:rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    border-radius: 25px;
    
  }

  .form-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color:#FFFFFF;
    gap: 2rem;
 
  }

  .escolher-bebida{
   
display: flex;

  }

  .escolher-bebida label{
  margin-right: 1rem;

    }

  .input-bebidas-disponiveis select {
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0em 1em;

    cursor: pointer;

  }

  .btn-inserir-estoque{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Inter';
    /* font-style: italic; */
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    background: #be594a;
    border-radius: 10px;
    border: 2px solid #DC4F21;
  }


.bebidas-disponiveis {
  background: #be594a;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
}

/* Outras classes de estilo para os elementos do modal */
.btn-close-modal-estoque{
  display: flex;
  width: 20%;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Inter';
  /* font-style: italic; */
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  background: #dfdede;
  border-radius: 10px;
  
}