.modal-overlay {
  /* Defina a cor de fundo com transparência */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 41.625rem;
  background-color: #fffefe;
  height: 51.375rem;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  border-radius: 25px;
}

.modalForm {
  color: rgba(4, 4, 4, 0.93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 2rem;
  margin: -1rem;
}

.modalForm H2 {
  color: rgba(4, 4, 4, 0.93);
  text-align: center;
  font-family: Londrina Solid;
  font-size: 4.375rem;
  font-style: normal;
}

.modalForm main {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.btns-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.imagemRefri {
  width: 100%;
  height: 100%;
  max-width: 20rem;
  max-height: 27rem;
  background-color: rgba(237, 55, 68, 0.1);
}
.product-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
  margin-top: 0.25rem;
}
.product-quantity input {
  display: flex;
  color: rgba(0, 0, 0, 0.93);
  text-align: center;
  font-family: Londrina Solid;
  font-size: 2.5rem;
  width: 3.75rem;
  border: none;
}
.btn-quantity {
  width: 3.25rem;
  height: 3.25rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 1000;
  font-size: 2rem;
  border-radius: 2rem;
  border: 4px solid rgba(0, 0, 0, 0.993);
}

.btn-quantity:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
