.wrapperPayment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 1024px;
  }
  
  .position-button {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 4rem;
    align-items: center;
  }
  
  .blockedOption {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .blockedButton {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .loadingOverlay{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loadingOverlay img {
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  