
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1024px;
  flex-direction: column;
  padding: 1rem;
}

.imgRefri {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 787px;
  max-width: 523px;
}

.imgRefri img {
  width: 65%;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    margin: 1em 2em;
    transition: all 0.5 ease;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    margin: 1rem 2rem;
    margin-top: 1rem;
    transition: all 0.5s ease;
  }
}
