.title-app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
}

.title1 span {
  font-family: "Londrina Solid";
  font-size: 140px;
  color: rgba(235, 55, 67, 0.93);
  font-style: normal;
  font-weight: 400;
}
