.title-uptade-voltar a {

    text-decoration: none;
    margin-left: 2rem;
    font-family: 'Kaisei Tokumin';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    
    
    }
    
    .title-icon {
        margin-right: 1.7rem;
        /* Espaço entre o ícone e o texto */
        margin-bottom: -0.3rem;
        transition: all 0.3s ease;
    }
    
    .wrap-uptade-funcionario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
    
    }
    